@{
    ViewBag.Title = "Home Page";
}

<div class="row welcome-buttons">
    <div class="col-md-4">
        <h2>Registration</h2>
        <p>Click below to register a new customer</p>
        <p><a class="btn btn-default btn-lg" onclick="location.href = '@Url.Action("Index", "Registration")'">Begin Registration &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reservations</h2>
        <p>Click below to manage reservations</p>
        <p><a class="btn btn-default btn-lg" onclick="location.href = '@Url.Action("Index", "Reservation")'">Manage Reservations &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Metrics</h2>
        <p>Click below to explore website statistics</p>
        <p><a class="btn btn-default btn-lg" onclick="location.href = '@Url.Action("Index", "Metrics")'">Explore Metrics &raquo;</a></p>
    </div>
</div>